<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Page</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <ul>
        <li><a href="/">Shop</a></li>
        <li><a href="/admin/add-product">Add Product</a></li>
    </ul>
    <div class="container">
        <img src="/images/shop.png"/>
        <form method="POST" action="/admin/add-product">
            <input type="text" name="title" />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>